<%- include('./partials/header.ejs') %>
        <form action= "show" method="POST">
            <input type ="text" name="url" placeholder="ENTER URL">  
            <button type= "submit">SUBMIT</button> 
            <p> Choose Theme </p>
        </form>
<%- include('./partials/footer.ejs') %>