<!-- <%//for(var i=0;i<array.length;i++){%>
    <p><%=//array[i]%></p>
<%//}%> -->
<HTML>
    <head>
        <title>FORM</title>
    </head>
    <body>
        <form action= "show" method="POST">
            <input type ="text" name="temp" placeholder="ENTER NAME">
            <input type="radio" name='Gender' value='Male'>Male
            <input type="radio" name='Gender' value='Female'>Female
            <button type= "submit">SUBMIT</button>   
        </form>
    </body>
</HTML>