body{
    background-image: url("/(370).jpg");
    background-color: rgb(183, 194, 201);
    color: rgb(29, 24, 24);
    font-family: monospace;
    text-align: center;
}
div{
    font-family: verdana;
    font-size: 30px;
    color:white;
}
#form{
    border: 2px solid grey;
    padding: 1%;
    display: inline-block;
}