        <p style='vertical-align: baseline;font-family: consolas;'> MADE BY RISHABH AND GAURAV </p>
        <a target=_blank href="https://github.com/Gauravbharti1998/PhonebookApp ">Click to see GitHub Repo:</a>
    </body>
</html>