<html>
    <head>
        <title>PHONEBOOK APP</title>
        <h1 font-family:verdana font-size:50px>Contacts </h1>
        <link rel="stylesheet" href="/css/style.css">
        <script src='/js/dom.js'></script>

        
    </head>
    <body>